
@{
 ViewBag.Title = "Hairdresser";
}

<div class="book-page-container no-border-content">
    <div class="hairdresser-banner text-center">
        <img src="~/Images/Images/HeadresserBanner.jpg" alt="img" />
        <a href="~/Hairdresser/Order" class="button">Make an appointment</a>
    </div>
</div>