/* max-width - <= than width */
/* min-width - > than width  */

/*#region Global */

table {
    border: 0;
}

table tr, th, td {
    border: 1px solid white;
    padding: 10px;
}

a {
    text-decoration: underline white;
    color: white;
}

hr {
    margin: 10px 0;
    border: 0;
    border-radius: 10px;
    height: 2px;
    background: white;
}

@keyframes onInputSelect {
    from {
        border-bottom: 2px solid #477cc6;
    }

    to {
        border-bottom: 2px solid #ff3f0a;
    }
}

input[type=text], input[type=password], input[type=datetime-local] {
    max-width: 250px;
    width: 80vw;
    font-size: 20px;
    background-color: transparent;
    border: 0px;
    border-bottom: 2px solid #477cc6;
    padding: 5px;
    margin: 5px;
}

input[type=text]:focus, input[type=password]:focus, input[type=datetime-local]:focus {
    border: 0px;
    border-bottom: 2px solid #ff3f0a;
    animation-name: onInputSelect;
    animation-duration: 0.5s;
}

input:focus {
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white;
}

input[type=button], input[type=submit], .button {
    border: 0px;
    border-radius: 10px;
    margin: 8px;
    padding: 10px;
    background-color: #477cc6;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    text-decoration: none;
    color: white;
}

.flexbox {
    display: flex;
}

.inline-block {
    display: inline-block;
}

.inline-flex {
    display: inline-flex;
}

.align-top {
    vertical-align: top;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.margin-center {
    margin-left: auto;
    margin-right: auto;
}

/*#endregion*/

/*#region Body And Main Content*/

body {
    padding: 0;
    margin: 0;
    background-color: #2a2a2a;
    color: white;
}

.body-content {
    margin: 125px auto 50px auto;
    padding: 30px;
    background-color: #171717;
    border: 5px solid black;
    border-radius: 20px;
    width: max-content;
    max-width: 90%;
    overflow: hidden;
}

@media screen and (max-width: 450px) {
    body {
        background-color: #171717;
    }

    .body-content {
        background-color: transparent;
        margin: 100px 0 10% 0;
        padding: 0;
        border: 0;
        border-radius: 0;
        max-width: 100%;
        width: auto;
    }
}

/*#endregion*/

/*#region Contact Page */

.contact-info {
    margin-top: -20px;
    font-size: 3vw;
    word-wrap: break-word;
    position: relative;
    width: 70vw;
    max-width: 800px;
}

.contact-info h2 {
    font-size: 15vw;
}

.contact-info iframe {
    border: 0;
    padding: 0;
    margin: 0;
    height: 35vw;
    width: 100%;
}

@media screen and (max-width: 450px) {
    .contact-info {
        margin-top: 0px;
        width: auto;
        text-align: center;
        font-size: 5vw;
    }

    .contact-info iframe {
        width: 100%;
        height: 450px;
        border-top: 5px solid black;
        border-bottom: 5px solid black;
    }
}

@media screen and (min-width: 1000px) {
    .contact-info {
        font-size: 30px;
    }
}

@media screen and (min-width: 500px) {
    .contact-info h2 {
        font-size: 75px;
    }
}

/*#endregion*/

/*#region Registration Page */

@media screen and (max-width: 900px) {
    #avatar-reg-small {
        display: none;
    }

    #avatar-block {
        display: block;
    }

    #avatar-block div {
        margin: 0 auto;
    }
}

@media screen and (max-width: 450px) {
    #avatar-block .flexbox {
        display: block;
    }

    #avatar-block div {
        margin: 0 auto;
    }

    #reg-header {
        font-size: 10vw;
    }
}

@media screen and (max-width: 310px) {
    #avatar-reg {
        width: 80vw;
        height: 80vw;
        margin: 0;
    }
}

/*#endregion*/

/*#region Change Passoword Page */

@media screen and (max-width: 450px) {
    #change-pswd-header {
        font-size: 8vw;
    }
}

/*#endregion*/

/*#region Profile Page*/

.form-container {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000000aa;
}

.change-avatar-label {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    font-size: 40px;
}

.profile-container {
    margin: 0 0 0 10px;
}

@media screen and (max-width: 855px) {
    #profile-avatar {
        width: 100%;
        display: block;
    }

    #profile-avatar div {
        margin: 0 auto;
    }

    .profile-container {
        width: 100%;
        text-align: center;
        font-size: 4vw;
        margin: 0;
    }

    .profile-container h2 {
        font-size: 5vw;
    }
}

@media screen and (min-width: 600px) {
    .profile-container {
        font-size: 24px;
    }

    .profile-container h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 450px) {
    #profile-avatar div {
        width: 60vw;
        height: 60vw;
    }

    .change-avatar-label {
        font-size: 10vw;
    }

    .profile-container {
        font-size: 5vw;
    }

    .profile-container h2 {
        font-size: 7vw;
    }
}
/*#endregion*/

/*#region Banner */

.banner {
    width: 100%;
    height: 50vw;
    max-height: 600px;
    margin: 0;
    margin-top: -50px;
    position: relative;
    overflow: hidden;
}

.banner-next-button {
    border-radius: 50%;
    background-color: #00000080;
    font-size: 5vw;
    font-weight: bold;
    cursor: pointer;
    width: 10vw;
    height: 10vw;
    max-width: 70px;
    max-height: 70px;
    right: 1%;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.banner-next-button p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.banner-next-button:hover {
    background-color: black;
}

.banner-content {
    position: relative;
    background-image: linear-gradient(to right, #2a2a2a, #2a2a2a00);
    width: 100%;
    height: 100%;
    z-index: 5;
}

.banner-item {
    display: inline-block;
    position: absolute;
    width: 100%;
}

.banner div img {
    height: auto;
    width: 100%;
}

.banner div a {
    position: absolute;
    top: 40vw;
    right: 20px;
    font-size: 25px;
    color: white;
}

@media screen and (max-width: 450px) {
    .banner-next-button {
        font-size: 5vw;
    }
}

@media screen and (min-width: 600px) {
    .banner-next-button {
        font-size: 40px;
    }
}

/*#endregion*/

/*#region False Comments */

.false-comment {
    background-color: #191919;
    border: 3px solid black;
    border-radius: 5px;
    margin: 10px 5% 10px 5%;
    padding: 10px;
    position: relative;
}

.false-comment-block {
    margin-left: 8px;
    font-size: 20px;
}

.false-comment-block p:before {
    content: "> ";
}

.false-comment-block h2 {
    font-size: 36px;
}

.false-comment-block hr {
    display: none;
}

@media screen and (max-width: 730px) {
    .false-comment .avatar-container {
        width: 34vw;
        height: 34vw;
    }

    .false-comment-block {
        font-size: 2.8vw;
        
    }

    .false-comment-block h2 {
        font-size: 5vw;
    }
}

@media screen and (max-width: 450px) {
    .false-comment {
        background-color: transparent;
        border: 0;
        border-radius: 0;
        margin: 0;
        padding: 2px;
        text-align: center;
    }

    .false-comment-block {
        display: block;
        margin: 0;
        padding: 0;
    }

    .false-comment-block hr {
        display: block;
        margin: 0 1%;
    }
}

/*#endregion*/

/*#region Hairdresser Index*/

.book-page-container {
    width: 100%;
    height: 50vw;
    max-height: 800px;
    margin: 0;
    margin-top: -50px;
    overflow: hidden;
}

.hairdresser-banner {
    position: relative;
    width: 100%;
    height: 50vw;
}

.book-page-container img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
}

.hairdresser-banner a {
    font-size: 4vw;
    padding: 2vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1vw;
}

@media screen and (min-width: 1620px) {
    .hairdresser-banner {
        height: 800px;
    }
}

/*#endregion*/

/*#region Hairdresser Order */



/*#endregion*/

/*#region Order Global */

.order-info {
    font-size: 24px;
}

.order-stage {
    margin-top: 20px;
}

.order-item {
    cursor: pointer;
}

.order-item-hair-chose {
    margin: 5px 10px;
}

.order-item div h1, h3 {
    margin: 4px 0;
}

@media screen and (max-width: 700px) {
    .order-item {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: max-content;
    }
}

@media screen and (max-width: 540px) {
    .order-page-header {
        font-size: 5.5vw;
    }

    .order-item div h1 {
        font-size: 6.2vw;
        margin: 1vw 0;
    }

    .order-item div h3 {
        font-size: 4.1vw;
        margin: 1vw 0;
    }

    .order-image {
        width: 19vw;
        height: 19vw;
    }

    .order-info {
        font-size: 4.4vw;
    }
}

/*#endregion*/

/*#region Footer */

footer {
    font-size: 18px;
    padding: 10px 40px;
}

.social a {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.social a img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 450px) {
    .social a {
        width: 10vw;
        height: 10vw;
        margin-left: 10px;
    }

    footer {
        font-size: 6vw;
        text-align: center;
        padding: 10px 0;
    }
}

/*#endregion*/