
@{
 ViewBag.Title = "Seamstress";
}

<div class="book-page-container no-border-content">
    <div class="hairdresser-banner text-center">
        <img src="~/Images/Images/SeamstressBanner.jpg" alt="img" />
        <a href="~/Seamstress/Order" class="button">Order a cloth</a>
    </div>
</div>