@{
    ViewBag.Title = "About";
}

<div class="contact-info">
        <h2>Contact</h2>
        <hr />
        <p>Email: creperkiler2101@mail.ru</p>
        <p>Tel: +37255663812</p>
        <div class="inline-flex social">
            <a href="https://vk.com/id222375341" target="_blank">
                <img src="../../Images/Images/vkSocial.png" alt="vk" />
            </a>
            <a href="https://trello.com/b/OboTDT7x/project" target="_blank">
                <img src="../../Images/Images/trelloSocial.png" alt="trello" />
            </a>
        </div>
    <hr />
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2030.2747028739905!2d24.702125551881547!3d59.411812511358185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469294f1bd8cb15b%3A0xc372ff05bb27e9f4!2z0KLQsNC70LvQuNC90L3RgdC60LjQuSDRhtC10L3RgtGAINC_0YDQvtGE0LXRgdGB0LjQvtC90LDQu9GM0L3QvtCz0L4g0L7QsdGD0YfQtdC90LjRjw!5e0!3m2!1sru!2see!4v1555185886441!5m2!1sru!2see" allowfullscreen></iframe>
</div>

