@{
    ViewBag.Title = "Home Page";
}

<div class="banner no-border-content">
    <div class="banner-item">
        <img src="../Images/Images/HeadresserBanner.jpg" alt="headresser" />
        <a href="../Hairdress/Order">Go to hairdress order</a>
    </div>
    <div class="banner-item">
        <img src="../Images/Images/SeamstressBanner.jpg" alt="seamstress" />
        <a href="../Seamstress/Order">Go to seamstress order</a>
    </div>
    <div class="banner-content">
        <div class="banner-next-button" role="button"><p>></p></div>
    </div>
</div>
<hr style="margin: 30px 30px"/>
<div class="false-comment">
    <div class="avatar-container inline-block">
        <img class="avatar" src="../../Images/Images/ava1.jpg" alt="avatar"/>
    </div>
    <div class="false-comment-block inline-block align-top">
        <h2>Poziloy</h2>
        <p>Посмотрите на прическу</p>
        <hr />
    </div>
</div>
<div class="false-comment">
    <div class="avatar-container inline-block false-right-align">
        <img class="avatar" src="../../Images/Images/ava2.jpg" alt="avatar" />
    </div>
    <div class="false-comment-block inline-block align-top">
        <h2>Kovboy228</h2>
        <p>Эту шапку сшили здешние швеи</p>
        <hr />
    </div>
</div>
<div class="false-comment">
    <div class="avatar-container inline-block">
        <img class="avatar" src="../../Images/Images/ava3.jpg" alt="avatar" />
    </div>
    <div class="false-comment-block inline-block align-top">
        <h2>Papich</h2>
        <p>Держите в курсе</p>
        <hr />
    </div>
</div>
