
@{
    ViewBag.Title = "Change Password";
}

<form method="post">
    <div class="text-center">
        <h2 id="change-pswd-header">Change Password</h2>
        <input type="password" name="password" placeholder="New password" /> <br />
        <input type="password" name="rePassword" placeholder="Re password" /> <br />
        @if (ViewBag.ErrorMsg != null)
        {
            <div class="error-box">
                @foreach (string msg in ViewBag.ErrorMsg)
                {
                    @msg <br />
                }
            </div>
        }
        <input type="submit" value="Change" />
    </div>
</form>

